:root {
  /* --color-primary: #6741d9;
  --color-primary-light: #7950f2; */
  /* --color-primary: #187c9e;
  --color-primary-light: #2ccbe471; */

  /* --color-primary: #187c9e; */
  /* --color-primary: #0a1016c1; */
  --color-primary: #081118;
  --color-primary-light: #2ccbe471;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--color-text);
  /* background-color: var(--color-background-900); */
  background-color: #161e24;
  padding: 2rem;
}

/* ******* */

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.5rem;
  background-color: var(--color-primary);
  /* border-radius: 0.9rem; */
  width: 100vw;
  margin-left: -23px;
  margin-top: -20px;
  /* border-bottom: 2px solid #14191e; */
  /* border-bottom: 3px solid rgba(255, 255, 255, 0.16); */
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.main {
  margin-top: 2.4rem;
  height: calc(100vh - 7.2rem - 3 * 2.4rem);
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.box {
  width: 42rem;
  max-width: 42rem;
  /* background-color: var(--color-background-500); */
  /* background-color: #187c9e; */
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-image: linear-gradient(107deg, #1a303c, #18372c);
  border-radius: 0.9rem;
  overflow: hidden;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

/* ******* */

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 10px;
}

/* .logo span {
  font-size: 3.2rem;
} */

.logo-img {
  height: 46px;
  width: 210px;
  margin-top: 10px;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.search {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--color-text);

  /* background-color: var(--color-background-900); */
  /* background-color: var(--color-primary-light); */
  background-image: linear-gradient(107deg, #1a303c, #18372c);
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.num-results {
  /* justify-self: end;
  font-size: 1.8rem; */
  width: 100%;
  justify-self: end;
  font-size: 1.8rem;
  margin-top: 20px;
  margin: 20px 47px;
  text-align: center;
}

.btn-toggle {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}

.list {
  list-style: none;
  padding: 0.8rem 0;
  overflow: hidden;
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;

  padding: 1.6rem 3.2rem;
  /* border-top: 1px solid var(--color-background-100);
  border-bottom: 1px solid var(--color-background-100); */
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.btn-delete {
  position: absolute;
  right: 2.4rem;

  height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  background-color: var(--color-red-dark);
}

/* ******* */

.summary {
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  border-radius: 0.9rem;
  background-color: var(--color-background-100);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.summary div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ******* */

.details {
  line-height: 1.2;
  font-size: 1.4rem;
}

.details header {
  display: flex;
}

.details section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  width: 33%;
}

.details-overview {
  width: 100%;
  padding: 2.4rem 3rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  /* text-align: center; */
}

.details-overview h2 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.genre-chip {
  line-height: 1rem;
  letter-spacing: 0.01786em;
  text-transform: none;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 2rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  padding: 5px 0.75rem;
  position: relative;
  overflow: hidden;
  background: none;
  transition: all 0.25s ease;
}

.genre-chip:hover {
  /* background-color: #2d251f; */
  background-color: hsla(0, 0%, 95%, 0.2);
}

.genre-text {
  font-size: 1.2rem;
  padding: 0.25rem 0;
}

.rating {
  background-color: var(--color-background-100);
  border-radius: 0.9rem;
  padding: 2rem 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  text-align: center;
}

.rating p {
  font-size: 1.59rem;
  font-weight: normal;
}

.btn-add {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-add:hover {
  background-color: var(--color-primary-light);
}

.seconds {
  background-color: var(--color-background-100);
  width: 8rem;
  border-radius: 10rem;
  font-weight: 600;
  text-align: center;
  padding: 0.4rem;
  margin-top: 2.4rem;
}

.btn-back {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  height: 2.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  /* background-color: var(--color-text); */
  background-color: #fff;
  background-color: #212529;
  color: var(--color-background-500);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* loader */

.waveform {
  --uib-size: 40px;
  --uib-speed: 1s;
  --uib-color: black;
  /* --uib-line-weight: 3.5px; */

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 45%;
}

.waveform__bar {
  width: var(--uib-line-weight);
  height: 100%;
  background-color: var(--uib-color);
}

.waveform__bar:nth-child(1) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45)
    infinite;
}

.waveform__bar:nth-child(2) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3)
    infinite;
}

.waveform__bar:nth-child(3) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15)
    infinite;
}

.waveform__bar:nth-child(4) {
  animation: grow var(--uib-speed) ease-in-out infinite;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(0.3);
  }

  50% {
    transform: scaleY(1);
  }
}

.Waveform-module_container__kGWZq {
  align-items: center;
  display: flex;
  height: calc(var(--uib-size) * 0.9);
  justify-content: space-between;
  width: var(--uib-size);
  position: absolute;
  top: 45%;
  left: 45%;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/

/*
FULL STAR

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 20 20"
  fill="#000"
  stroke="#000"
>
  <path
    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
  />
</svg>


EMPTY STAR

<svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
  stroke="#000"
>
  <path
    strokeLinecap="round"
    strokeLinejoin="round"
    strokeWidth="{2}"
    d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"
  />
</svg>

*/

/* media-queries */
/* media-queries */
/* media-queries */
@media (max-width: 991px) {
  .nav-bar {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    border-radius: 0;
    width: 100vw;
    margin: -21px;
  }

  /* .logo span {
    display: none;
  } */
  .logo-img {
    height: 37px;
    width: 159px;
    margin-bottom: -10px;
  }

  .logo h1 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
  }

  .search {
    width: 20rem;
    /* margin-top: -40px; */
    background-color: var(--color-primary-light);
    border: 1px solid #fff;
    /* padding: 0.9rem 1.2rem; */
    font-size: 1.3rem;
    border-radius: 4px;
    /* margin-bottom: 20px; */
  }
  .num-results {
    width: 100%;
    justify-self: end;
    font-size: 1.8rem;
    margin-top: 20px;
    margin: 20px 47px;
    text-align: center;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .box {
    margin-top: 40px;
    margin-left: -11px;
    width: 42rem;
    /* max-width: 37rem; */
    max-width: 39.5rem;
    /* background-color: var(--color-background-500); */
    background-color: #187c9e;
    border-radius: 0.9rem;
    overflow: scroll;
    position: relative;
    /* height: 100vh; */
  }

  /* .list {
    list-style: none;
    padding: 0.8rem 0;
    overflow: scroll;
    margin-top: 23rem;
  } */
}
